*

!*/
!lib/
!lib/minilibx-linux/
!lib/minilibx-linux/**
!lib/minilibx-macos/
!lib/minilibx-macos/**
!assets/
!assets/**

!*.c
!*.h
!*.md
!Makefile
!*.cub
!*.xpm
!*.json
!vg


.*
!.clangd
!*.supp
!.gitignore
!bad.sh
!good.sh